h2  {
	padding: 5px;
}

.signup {
	/* margin: -5px; */
	padding: 5px;
}

.login-btn {
  border-top: 1px solid #394243;
  background: #394243;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#394243),
    to(#394243)
  );
  background: -webkit-linear-gradient(top, #394243, #394243);
  background: -moz-linear-gradient(top, #394243, #394243);
  background: -ms-linear-gradient(top, #394243, #394243);
  background: -o-linear-gradient(top, #394243, #394243);
  padding: 3.5px 7px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  font-size: 13px;
  font-family: proxima-nova, sans-serif;
  text-decoration: none;
  vertical-align: middle;
}
.login-btn:hover {
  border-top-color: #515d5e;
  background: #515d5e;
  color: #ccc;
}
.login-btn:active {
  border-top-color: #39435e;
  background: #39435e;
}

.signup_form{
	font-family: proxima-nova, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.signup_form h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.login_form input[type="text"],
.login_form input[type="date"],
.login_form input[type="datetime"],
.login_form input[type="email"],
.login_form input[type="number"],
.login_form input[type="search"],
.login_form input[type="time"],
.login_form input[type="url"],
.login_form textarea,
.login_form select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font-family: proxima-nova, sans-serif;
}
/* .login_form input[type="text"]:focus,
.login_form input[type="date"]:focus,
.login_form input[type="datetime"]:focus,
.login_form input[type="email"]:focus,
.login_form input[type="number"]:focus,
.login_form input[type="search"]:focus,
.login_form input[type="time"]:focus,
.login_form input[type="url"]:focus,
.login_form textarea:focus,
.login_form select:focus */
/* {
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
} */

.signup_form input[type="submit"],
.signup_form input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	/* background: #43D1AF; */
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
/* .sign_form input[type="submit"]:hover,
.signup_form input[type="button"]:hover{
	background: #2EBC99;
} */